.label.hidden-difficulty {
  background-color: gray !important;
  cursor: pointer;
}

.random-question-btn {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 8px 5px;
  cursor: pointer;
}

.random-question-btn:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}
